<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />

<title>Register</title>
</head>
<body>
	<section class="container mt-5">
		<div class="card">
			<div class="card-body">
				<h4 class="text-center bg-light">Register Here</h4>
				
				<th:block th:if="${session.msg}">

					<p class="text-center text-success" th:text="${session.msg}"></p>
					<th:block th:text="${@userserviceInpl.removeSessionMessage()}"></th:block>

				</th:block>



				<form th:action="@{/saveUser}" method="post">
				
					<div class="form-group mt-10">
						<label for="exampleInputEmail1">Name</label> <input type="text"
							class="form-control" id="name" placeholder="Enter Name"
							name="name" />
					</div>
					
					<div class="form-group mt-3">
						<label for="email">Email address</label> <input type="email"
							class="form-control" id="email" placeholder="Enter Email"
							name="email" />
					</div>
					
					<div class="form-group mt-3">
						<label for="number">Enter Mobile Number</label> <input
							type="number" class="form-control" id="number"
							placeholder="Enter Number" name="number" />
					</div>
					
					<div class="form-group mt-3">
						<label for="password">Enter Password</label> <input
							type="password" class="form-control" id="password"
							placeholder="Enter Password" name="password" />
					</div>
					
					<div class="text-center mt-4">
						<button type="submit" class="btn btn-primary">Submit</button>
						<button type="reset" class="btn btn-warning">Reset</button>
					</div>
				</form>
			</div>
		</div>
	</section>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>
